<div class="container" id="incio">
    <div class="item item-1">
        <img src="../assets/assets/logo_full_color.svg">
    </div>
    <div class="item item-2">
        <strong><a href="#incio">{{'landing.header.star' | translate}}</a></strong>
    </div>
    <div class="item item-3">
        <strong><a href="#beneficios">{{'landing.header.benefits' | translate}}</a></strong>
    </div>
    <div class="item item-4" #beneficios>
        <button  class="button button" >{{'landing.header.login' | translate}}</button>
        <button  class="button button">s</button>
    </div>
</div>
